{% if request.user == course.instructor %}
  <a href="{% url 'lesson_create' course.id %}" class="btn btn-success mb-3">Create Lesson</a>
{% endif %}

<h4>Lessons</h4>
{% if course.lessons.all %}
  <ul class="list-group">
    {% for lesson in course.lessons.all %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ lesson.title }}
        {% if request.user == course.instructor %}
          <span>
            <a href="{% url 'lesson_edit' lesson.id %}" class="btn btn-sm btn-outline-secondary">Edit Lesson</a>
            <a href="{% url 'lesson_delete' lesson.id %}" class="btn btn-sm btn-outline-danger">Delete Lesson</a>
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No lessons yet.</p>
{% endif %}