{% extends 'base.html' %}
{% block content %}
  <h2>{{ course.title }}</h2>
  <p><strong>Category:</strong> {{ course.category }}</p>
  <p>{{ course.description }}</p>
  <hr>
  <h4>Lessons</h4>
  <ul>
    {% for lesson in course.lessons.all %}
      <li>{{ lesson.title }}</li>
    {% empty %}
      <li>No lessons yet.</li>
    {% endfor %}
  </ul>
  {% if request.user == course.instructor.user %}
    <a href="{% url 'lesson_create' course.id %}" class="btn btn-primary">+ Add Lesson</a>
  {% endif %}
{% endblock %}